<div>
    <div class="intro">
        <h2 class="text-center"> <strong> UNO Multiplayer Game</strong> </h2>
        <p></p>
        <ul>
            <li> The UNO Multiplayer Game is recommended to everyone over 5 years old that wishes to spend their time
                having
                fun with their frinds or with people from all over the world.</li>
            <p></p>
            <li>This game has the purpose to be an enjoyable multiplayer game with simple rules. Those rules will be
                presented to you before the game starts, and they will be available to you at any time on a
                <strong style="color: rgb(255, 0, 64);">decidated page</strong>
                with additional tips.
            </li>
            <p></p>
            <li> No type of descrimination, abusive behaviour, or any other type of misbehavior towards other players
                will
                not be tolerated, and there are consequences to the players that have thoses practices.</li>
            <p></p>
            <li> Do not forget to invite all your friends to be part of our family!</li>
        </ul>
    </div>

    <div class="support">
        <h2 class="text-center"> <strong> Do you need any support? </strong> </h2>
        <ul>
            <li> Check our FAQ <strong style="color: rgb(255, 0, 64);">here</strong> , or contact us using the contacts
                below.</li>
        </ul>
        <p> <strong>Phone Number:</strong> +07xxxxxxx</p>
        <p> <strong> Email Address: </strong> unoxxx@hotmail.co.uk</p>
    </div>

    <button routerLink="/home"> Be our Guest!</button>
</div>