.rules {
  color: white;
  font-size: large;
  width: 750px;
  height: 750px;
}

.mat-dialog-container {
  background-color: rgba(51, 13, 13, 0.9) !important;
}

button {
  color: white;
  border-color: white;
  background-color: rgba(51, 13, 13, 0.9);
  align-items: center;
  width: 5em;
  height: 3em;
  border-radius: 10px;
  margin-left: 45%;
}

.mat-button {
  align-self: center;
}
