<div class="mat-dialog-container">
    <div class="rules">
        <h2 class="text-center" style="margin-top: 0.5em;"> <strong> Rules</strong></h2>
        <p></p>
        <ul>
            <li> At the start of the game, each player is dealt 7 cards, the remaining cards will be facedown to form a
                draw
                pile, and the top card of the draw pile will begin a discard pile. The first top card of the discard
                pile
                cannot
                be a Wild or Wild Draw 4, and the first player will be randomly selected.</li>
            <p></p>
            <li> There are 5 specials cards which are:
                <ul>
                    <li> <strong> Draw 2 Card </strong>- When a player plays this card, the next person to play must
                        draw 2
                        cards
                        and forfeit his/her
                        turn.</li>
                    <li> <strong> Reverse Card </strong> - This card reverses direction of play. Play to the left now
                        passes
                        to the right, and
                        vice versa.</li>
                    <li> <strong>Skip Card </strong> - The next person in line to play after this card is played loses
                        his/her turn and is
                        "skipped".</li>
                    <li> <strong> Wild Card </strong> - When a player palays this card, the player may change the color
                        being played to
                        any color (including
                        the current color) to continue play. A player may play a Wild card even if you have another
                        playable
                        card
                        in hand.</li>
                    <li><strong> Wild Draw 4 Card </strong> - This card allows the player to call the next color played
                        and
                        requires the next player
                        to pick 4 cards from the draw pile and forfeit his/her turn.</li>
                </ul>
            </li>
            <p></p>
            <li> Each player must match the top card on the discard pile either
                by number, color, or word. If the player does not have anything that matches, they must pick a card from
                the
                draw pile until the player gets a card that matches. </li>
            <p></p>
            <li> Before the player play his/her next to last card, the player must press "UNO". Otherwise, another play
                may
                catch the player with just one card, and the player that did not press UNO must pick FOUR more cards
                from
                the
                draw pile. </li>
        </ul>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>


<!-- <button routerLink="/dashboard"> Be our Guest!</button> -->