.circle {
  --circle-width: 950px;
  --circle-height: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgb(99, 26, 26);
  border-radius: 50%;
  border-color: black;
  opacity: 1;
  width: var(--circle-width);
  height: var(--circle-height);
  transform: translate(0%, 25%);
  position: relative;
}

@media screen and (max-width: 600px) {
  .circle {
    width: 100%;
  }
}

.player-top {
  position: absolute;
  top: -170px;
  left: calc((var(--circle-width) - 150px) / 2);
}

.player-right {
  /* align-self: center; */
  position: absolute;
  top: calc(((var(--circle-height) - 225px) / 2) - 160px);
  right: -110px;
}

.player-left {
  position: absolute;
  top: calc(((var(--circle-height) - 225px) / 2) - 160px);
  left: -110px;
}

.player-bottom {
  position: absolute;
  bottom: -100px;
  left: calc(((var(--circle-width) - 150px) / 2)- 150px);
}

.profile {
  width: 130px;
  height: 130px;
}

.start-game {
  font-size: large;
  color: black;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 380px;
  padding: 10px;
  border: 5px solid black;
  background: rgba(51, 13, 13, 0.808);
}

.start-prompt {
  display: "none";
}

.card {
  width: 100px;
  height: 130px;
}

.cards-bottom {
  position: absolute;
  bottom: -50px;
  align-items: center;
}

.cards-right {
  position: absolute;
  top: 200px;
  align-items: center;
}

.cards-top {
  position: absolute;
  top: 70px;
  align-items: center;
}

.cards-left {
  position: absolute;
  top: 200px;
  align-items: center;
}

.pot-card {
  position: absolute;
  top: calc((var(--circle-height) / 2) - 65px);
  left: calc((var(--circle-width) / 2) + 30px);
}

.drawable-cards {
  position: absolute;
  top: calc((var(--circle-height) / 2) - 65px);
  left: calc((var(--circle-width) / 2) - 110px);
}
