<div id="r" class="row">
    <div class="column" style="background-color:rgb(116, 200, 228);">
        <h1>Match History</h1>
        <div class="container" *ngIf="accountService.typ !== 'LoginUser'">
            <div class="row">
                <div class="c2" style="background-color: rgb(65, 141, 167);">
                    <h4 class="mt-3" style="text-align: center; color: black;">No match history in the game since you
                        are a guest. Create an account or log in to see your match history! </h4>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="accountService.typ === 'LoginUser'">
            <div class="row">
                <div class="c2" style="background-color: rgb(65, 141, 167);">
                    <h4 class="mt-3" style="text-align: center; color: black;">No Previous Games! </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="column" style="background-color: lightgreen;">
        <h1>Select your Room</h1>
        <div class="container">
            <div class="row">
                <div class="c2" style="background-color: rgb(60, 189, 60);">
                    <div class="text-center">
                        <form class="frm" [formGroup]='createForm' (ngSubmit)="joinNewGame()" autocomplete="off">
                            <button class="btn mt-4" style="font-size:x-large;" type="button"
                                (click)="startCreatingNewGame()" *ngIf="!create">Create new room</button>
                            <div class="container mb-2 mt-2" *ngIf="create">
                                <app-text-input [formControl]='createForm.controls["lobbyName"]' [label]='"Lobby Name"'
                                    ngDefaultControl></app-text-input>
                            </div>
                            <div class="form-group text-center mt-3 mb-2" *ngIf="create">
                                <button class="btn mr-3 mb-2" type="submit">Start Game</button>
                            </div>
                        </form>

                        <form class="frm" [formGroup]='joinPrivateForm' (ngSubmit)="joinPrivateRoom()"
                            autocomplete="off">
                            <button class="btn mt-4" style="font-size:x-large;" type="button"
                                (click)="startJoiningPrivateRoom()" *ngIf="!joinPrivate">Join Private Room</button>
                            <div class="container mb-2 mt-3" *ngIf="joinPrivate">
                                <app-text-input [formControl]='joinPrivateForm.controls["password"]'
                                    [label]='"Enter Password"' ngDefaultControl></app-text-input>
                            </div>
                            <div class="form-group text-center mt-3 mb-2" *ngIf="joinPrivate">
                                <button class="btn mr-3 mb-2" type="submit">Join</button>
                            </div>
                        </form>
                    </div>
                    <h4 class="mt-3 mr-5" style="color: white; font-style:italic; border-color: darkgre;">Join an
                        existing room
                        <button class="btn" (click)="getLobbies()"><span class=reload>&#x21bb;</span></button>
                    </h4>
                    <div class="row" *ngIf="gameLobbies?.length === 0">
                        <h3>No Game Lobbies Available</h3>
                    </div>

                    <div class="row" *ngIf="gameLobbies?.length > 0">
                        <button *ngFor="let lobby of gameLobbies" (click)="joinExistingGame(lobby.gameLobbyId)"
                            class='btn mb-1'>{{lobby.gameLobbyName}} - {{lobby.numberOfElements}} out of 4
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column" style="background-color:orange;">
        <h1>Friends List</h1>
        <div class="container" *ngIf="accountService.typ !== 'LoginUser'">
            <div class="row">
                <div class="c2" style="background-color: rgb(168, 93, 1);">
                    <h4 class="mt-3" style="text-align: center; color: black;">No friends in the game since you are a
                        guest. Create an account or log in to add friends in the game! </h4>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="accountService.typ === 'LoginUser'">
            <div class="row">
                <div class="c2" style="background-color: rgb(168, 93, 1);">
                    <h4 class="mt-3" style="text-align: center; color: black;">No Friends! Ask your friend to join you
                        in UNO! </h4>
                </div>
            </div>
        </div>
    </div>
</div>