<form class="form text-center" [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()"
    autocomplete="off">
    <h2 class="text-center mt-2">Sign up</h2>
    <hr>

    <div class="form-group text-center">
        <label class="control-label" style="margin-right: 10px; color: white;"> I am a:</label>
        <label class="radio-inline" style="color: white">
            <input type="radio" value='male' formControlName='gender' class="margins"> Male
        </label>
        <label class="radio-inline" style="color: white">
            <input type="radio" value='female' formControlName='gender' class="margins"> Female
        </label>
    </div>

    <div class="input-margin">
        <div class="input">
            <app-text-input class="input" [formControl]='registerForm.controls["username"]' [label]='"Username"'
                ngDefaultControl>
            </app-text-input>
        </div>
        <div class="input">
            <app-text-input class="input" [formControl]='registerForm.controls["email"]' [label]='"Email"'
                ngDefaultControl>
            </app-text-input>
        </div>
        <div class="input">
            <app-text-input class="input" [formControl]='registerForm.controls["password"]' [label]='"Password"'
                [type]='"password"' ngDefaultControl>
            </app-text-input>
        </div>
        <div class="input">
            <app-text-input class="input" [formControl]='registerForm.controls["confirmPassword"]'
                [label]='"Confirm Password"' [type]='"password"' ngDefaultControl></app-text-input>
        </div>


        <div class="row mt-5" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>

    <div class="form-group text-center mb-2">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-danger mr-2" style="margin-left: 1em;" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<button class="guest" routerLink="/home"> Be our Guest!</button>