* {
  box-sizing: border-box;
}

.form h2 {
  color: white;
}

.form {
  position: absolute;
  top: 35%;
  right: 37%;
  border: 5px solid black;
  border-radius: 12px;
  background-color: rgba(51, 13, 13, 0.952);
  width: 500px;
  scale: 120%;
}

@media screen and (max-width: 700px) {
  .form {
    width: 80%;
  }
}

.input-margin {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.margins {
  margin-left: 1em;
}

.input {
  margin-bottom: 0.2em;
}

/* button to go home */
.guest {
  border: 5px solid black;
  border-radius: 8px;
  background: rgba(51, 13, 13, 0.808);
  position: absolute;
  top: 850px;
  right: 100px;
  height: 1.5cm;
  width: 5cm;
  color: white;
  font-size: x-large;
}
