.navbar-custom {
  background: rgb(0, 0, 0, 0.7);
  border-color: #000;
}
.navbar li {
  color: #000;
}

.nav-pills {
  font-size: 1.5em;
  margin-right: 2%;
  margin-left: 2%;
}

.logoImg {
  width: 10%;
  height: 10%;
}
