.navbar-custom {
  background: rgb(0, 0, 0, 0.7);
  border-color: #000;
}
.navbar li {
  color: #000;
}

.nav-pills {
  font-size: 1.5em;
  margin-right: 2%;
  margin-left: 2%;
}

.logoImg {
  width: 10%;
  height: 10%;
}

@media screen and (max-width: 600px) {
  .nav-pills {
    width: 100%;
  }
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: rgb(255, 38, 30);
  border: 1px solid #ddd;
  color: white;
  margin-right: 50px;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
